#contact_us_div{
  width:800px;
  height:375px;
  position: absolute;
  left:300px;
  top:300px;
  background-color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
  text-align: justify;
  font-size: 40px;
}

#contact_us{
  width:600px;
  height:150px;
  margin:0px;
  color:white;
  font-size: 75px;
  text-align: center;
  position: absolute;
  left:400px;
  top:30px;
}

#fottercontact{
  position: absolute;
  top:675px;
  z-index: 1000;
  width:100%;
  height:50px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.8);
  color:white;
  text-align: center;
}
