#benifittable{
  width:100%;
}

#benifit_table_num{
  font-size: 50px;
  color:rgba(51, 229, 255, 1);
}

#td1{
  font-size: 50px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
